 #header{
	/*background-image: url(../images/90back.jpg);*/
	background-color: #d3d3d3;
	color:;
	font-weight: bolder; 
	text-align: center;
	border-radius: 25px;
}	
body{
	background-image:  url(../images/weather.png);
}

ul{
	list-style-type: none;
}

button{
	;

}

#start{
	background-color: #d3d3d3;
	text-align: center;
	font-size: 18px;
	padding:15px;
	margin-top: 20px;


}

#lead, #topText{
	font-weight: bolder;

}

#timer{
	background-color: #3ED5EC;
	text-align: center;
	padding: 10px;
	margin-bottom: 15px;
	font-size: 30px;
	border-radius: 25px;
	display: none;
}

#main{
	background-color: #d3d3d3;
	text-align: center;
	border-radius: 25px;
	display: none;	
	margin-bottom: 20px;
}

.question{
	font-size: 20px;
	font-weight: bold;

}

.answers{

}

#score{
	background-color: #d3d3d3;
	text-align: center;
	font-size: 18px;
	padding:15px;
	margin-top: 20px;
	display: none;
	font-weight: bold;

}